In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
train = pd.read_csv("C:/Users/ANKU/Downloads/0000000000002329_training_diabetes_x_y_train (1).csv")
test = pd.read_csv("C:/Users/ANKU/Downloads/0000000000002329_test_diabetes_x_test.csv")

In [3]:
train.head()

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0

In [4]:
train.columns

Index(['# age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'Y'], dtype='object')

In [5]:
train = train.rename(columns={'# age':'Age', 'sex':'Sex', 'bmi':'BMI', 'bp':'BP'})

In [6]:
print(train.shape)
print(test.shape)

(331, 11)
(110, 10)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     331 non-null    float64
 1   Sex     331 non-null    float64
 2   BMI     331 non-null    float64
 3   BP      331 non-null    float64
 4   s1      331 non-null    float64
 5   s2      331 non-null    float64
 6   s3      331 non-null    float64
 7   s4      331 non-null    float64
 8   s5      331 non-null    float64
 9   s6      331 non-null    float64
 10  Y       331 non-null    float64
dtypes: float64(11)
memory usage: 28.6 KB

In [8]:
train.describe()

,Age,Sex,BMI,BP,s1,s2,s3,s4,s5,s6,Y
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,-0.000214,-0.000293,0.000053,-0.001045,-0.001423,-0.001220,0.000440,-0.001473,-0.001594,0.000099,149.722054
std,0.047207,0.047618,0.048627,0.047621,0.047371,0.046936,0.047303,0.046591,0.048088,0.047263,76.796907
min,-0.107226,-0.044642,-0.090275,-0.102071,-0.126781,-0.115613,-0.102307,-0.076395,-0.126097,-0.137767,25.000000
25%,-0.034575,-0.044642,-0.035307,-0.036656,-0.035968,-0.029967,-0.032356,-0.039493,-0.035817,-0.034215,84.000000
50%,0.005383,-0.044642,-0.008362,-0.005671,-0.004321,-0.004445,-0.006584,-0.002592,-0.005145,-0.001078,138.000000
75%,0.038076,0.050680,0.030979,0.032775,0.027326,0.028905,0.026550,0.034309,0.032124,0.027917,202.000000
max,0.110727,0.050680,0.170555,0.132044,0.153914,0.198788,0.181179,0.185234,0.133599,0.135612,346.000000

In [9]:
train.head()

,Age,Sex,BMI,BP,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0

In [10]:
test.head()

,0.02354575262934580082,0.05068011873981870252,-0.03746250427835440266,-0.04698505887976939938,-0.09100589560328480043,-0.07553006287033779687,-0.03235593223976569732,-0.03949338287409189657,-0.03075120986455629965,-0.01350401824497050006
0,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
1,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
2,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
3,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641
4,-0.034575,-0.044642,-0.037463,-0.060757,0.020446,0.043466,-0.013948,-0.002592,-0.030751,-0.071494

In [11]:
test = test.rename(columns={'0.02354575262934580082':'Age', '0.05068011873981870252':'Sex', '-0.03746250427835440266':'BMI', '-0.04698505887976939938':'BP', '-0.09100589560328480043':'s1', '-0.07553006287033779687':'s2', '-0.03235593223976569732':'s3', '-0.03949338287409189657':'s4', '-0.03075120986455629965':'s5', '-0.01350401824497050006':'s6'})

In [12]:
test.head()

,Age,Sex,BMI,BP,s1,s2,s3,s4,s5,s6
0,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
1,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
2,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
3,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641
4,-0.034575,-0.044642,-0.037463,-0.060757,0.020446,0.043466,-0.013948,-0.002592,-0.030751,-0.071494

In [13]:
X_train=train.drop('Y', axis=1)
Y_train=train['Y']

In [14]:
X_test=test

In [15]:
lr=LinearRegression()

In [16]:
lr.fit(X_train, Y_train)

LinearRegression()

In [17]:
y_pred = lr.predict(X_test)

In [26]:
test = pd.DataFrame(y_pred, columns=['Predictions'])

In [30]:
test.to_csv('Prediction.csv')